registry=https://registry.npmjs.org
@handle-fi:registry=https://npm.pkg.github.com/
@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=1894A31A-B591-4DCB-BE59-688CB2FDF1B8
